<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/pokemon.js"></script>
    <title>New Pokemon</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Choose your Pokemon!</h1>
    <form action="/users/<%=currentUser._id%>/teams/<%= teamID %>/pokemon/" method="POST">
        <%- include('../partials/pokedex') %>
        Pokemon: <input required type="text" class="pkChoice" name="pokemon" readonly> <br>
        Nickname: <input type="text" name="nickname"> <br>
        <input type="submit" class="submit" value="Next Page">
    </form>
</body>
</html>