<nav id="nav">
    <a href="/users/<%=currentUser._id%>/teams" class="submit link">Teams</a>
    <h1 id="username"><%=currentUser.username%></h1>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" class="submit" value="LOG OUT">
    </form>
</nav>