<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams index</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Your teams</h1>
    <a href="/users/<%= currentUser._id %>/teams/team">
        <ul> Team:
            <% currentUser.teams.forEach((pokemon) => { %>
                <li><img src="<%= pokemon.img %>" alt="<%= pokemon.pokemon %>"></li>
            <% }) %>
        </ul>
    </a>
</body>
</html>