<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Homepage</title>
</head>
<body id="home">
    <h1 id="hHeader">Welcome to Pokemon!</h1>
    <a href="/sessions/new" class="link submit">Login</a> </br>
    <a href="/users/new" class="link submit">Sign Up</a>
</body>
</html>