<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sign Up</title>
</head>
<body>
    <h1 class="lsHeader">Sign Up</h1> <br>
    <form class="lsForm" action="/users" method="POST">
        Username: <input required class="textbox" type="text" name="username"> </br>
        Password: <input required class="textbox" type="password" name="password"> <input type="button" class="submit lsVis" value="O"></br>
        <input type="submit" class="submit" value="Sign Up">
    </form> <br>
    <a href="/" class="submit link">Back to Homepage</a>
</body>
</html>